snippet f
	* [ ] ${0}

snippet q
	? [ ] ${0}

snippet e
	/ [ ] ${0}
	  Proposal:
	      Endpoint: ${1:METHOD} /api/v${2:1}/${3}
	      Body:
	      \`\`\`
	      {
	          ${4}
	      }
	      \`\`\`
